[submodule "sbas-survey"]
	path = sbas-survey
	url = https://github.com/scion-backbone/sbas-survey
[submodule "sbas-simulation"]
	path = sbas-simulation
	url = https://github.com/scion-backbone/sbas-simulation
[submodule "sbas"]
	path = sbas
	url = https://github.com/scion-backbone/sbas
