[Unit]
Description=SBAS customer
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sbas start
ExecStop=/usr/bin/sbas stop
WorkingDirectory=/lib/sbas
RemainAfterExit=true
Environment="PYTHONPATH=/lib/sbas:"

[Install]
WantedBy=multi-user.target
