[Unit]
Description=SCION-IP Gateway
Documentation=https://www.scionlab.org
After=network-online.target scion-dispatcher.service
Wants=network-online.target
PartOf=scionlab.target

[Service]
Type=simple
User=scion
Group=scion
ExecStart=/usr/bin/scion-systemd-wrapper /usr/bin/sig /etc/scion/gen/ISD-isd-/AS-as-/sig%i/sigSBAS.config %i
RemainAfterExit=False
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=scionlab.target
