[Unit]
Description=SBAS node
After=scionlab.target
Wants=scionlab.target

[Service]
Type=simple
ExecStart=/usr/bin/sbas start
ExecStop=/usr/bin/sbas stop
WorkingDirectory=/lib/sbas
Environment="PYTHONPATH=/lib/sbas:"

[Install]
WantedBy=multi-user.target
