[Unit]
Description=SBAS node
After=scionlab.target
Wants=scionlab.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sbas start
ExecStop=/usr/bin/sbas stop
RemainAfterExit=true
Environment="PYTHONPATH=/lib/sbas/src:"

[Install]
WantedBy=multi-user.target
